{% capture hero_schema %}
  {
    "title": {{ section.settings.title | json }},
    "textAlignment": {{ section.settings.text_alignment | json }},
    {% if section.settings.image != blank %}
      "image": {{ section.settings.image | img_url: '1400x' | json }},
    {% endif %}
    {% if section.settings.mobile_image != blank %}
      "mobileImage": {{ section.settings.mobile_image | img_url: '780x' | json }},
    {% endif %}
    "colorPicker": {{ section.settings.color_picker | json }},
    "copy": {{ section.settings.copy | json }},
    "ctaText": {{ section.settings.cta_text | json }},
    "ctaUrl": {{ section.settings.cta_url | json }}
  }
{% endcapture %}


<hero-banner :hero-schema="{{ hero_schema | escape | strip }}"></hero-banner>

{% schema %}
  {
    "name": "Test: Hero Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "color",
        "id": "color_picker",
        "label": "Color Picker"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "left",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" },
          { "value": "center", "label": "Center" }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Hero Title"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Copy"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      }
    ],
    "presets": [{
      "name": "Hero Banner",
      "category": "Coding Challenge"
    }]
  }
{% endschema %}
