<template lang="pug">
  .hero-banner__container(:class="heroSchema.textAlignment")
    img.hero-banner__desktop-image(:src="heroSchema.image")
    img.hero-banner__mobile-image(:src="heroSchema.mobileImage")
    .hero-banner__content
      .hero-banner__heading(:style="{ color: heroSchema.colorPicker }") {{ heroSchema.title }}
      .hero-banner__copy(:style="{ color: heroSchema.colorPicker }") {{ heroSchema.copy }}
      a.hero-banner__cta(:href="heroSchema.ctaUrl") {{ heroSchema.ctaText }}
</template>

<script>
export default {
  props: {
    heroSchema: Object
  }
};
</script>

<style scoped lang="scss">
.hero-banner__container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
  padding-left: 78px;
  padding-right: 137px;
  justify-content: center;

  img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .hero-banner__mobile-image {
    display: none;
  }

  .hero-banner__content {
    width: 779px;
  }

  .hero-banner__heading {
    font-weight: bold;
    font-size: 46px;
    line-height: 42px;
  }

  .hero-banner__copy {
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 42px;
  }

  .hero-banner__cta {
    color: #FFF;
    background-color: #57AD68;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    border-radius: 100px;
    padding: 17px 50px;
    text-transform: uppercase;
    cursor: pointer;
    width: max-content;

    &:hover {
      color: #57AD68;
      background-color: #FFF;
      text-decoration: none;
    }
  }

  &.left {
    align-items: flex-start;
  }

  &.center {
    align-items: center;

    .hero-banner__content {
      text-align: center;
    }
  }

  &.right {
    align-items: flex-end;

    .hero-banner__content {
      width: 583px;
    }
  }

  @media (max-width: 768px) {
    height: 640px;
    align-items: center;
    padding-left: 42px;
    padding-right: 41px;

    .hero-banner__mobile-image {
      display: block;
    }
    .hero-banner__desktop-image {
      display: none;
    }

    .hero-banner__content {
      text-align: center;
      width: auto !important;
    }

    .hero-banner__heading {
      font-size: 36px;
    }

    .hero-banner__copy {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 33px;
    }
  }
}
</style>
